**/qalc.history
config/gh/hosts.yml
__init__.py
__pycache__/

# vieb
config/Vieb
!config/Vieb/viebrc

# doom
.doom.d/custom.el

# vifm
config/vifm/vifminfo.json

# lazygit
config/lazygit/state.yml
config/micro/buffers
